{% load i18n questionnaire_ext %}
{% get_answers as total %}

{% for sel, choice in qdict.choices %}
{% if choice.value in total %}
<script type="text/javascript">
  $(document).ready(function() {
    valchanged('{{ question.number }}', '{{ choice.value }}');
  });
</script>
{% endif %}
{% endfor %}


<div class="clearfix">
  <div class="input">
    <ul class="inputs-list">
      {% for sel, choice in qdict.choices %}
      <li>
        <label>
          <input onClick="valchanged('{{ question.number }}', this.value)"
		 type="radio" id="{{ question.number }}_{{ forloop.counter }}"
		 name="question_{{ question.number }}"
		 value="{{ choice.value }}"
		 {% if choice.value in total %} checked {% endif %} />
          <span>{{ choice.text }}</span>
        </label>
      </li>
      {% endfor %}
      <li>
	<input onClick="valchanged('{{ question.number }}', '_entry_');"
	       type="radio"
	       id="{{ question.number }}_entry"
	       name="question_{{ question.number }}"
	       value="_entry_" {% if qdict.sel_entry %} checked {% endif %}>
	<input id="{{ question.number }}_comment"
	       checks="dep_check('{{ question.number }},_entry_')"
	       type="text"
	       name="question_{{ question.number }}_comment"
	       value="{{ qdict.comment }}">
      </li>
    </ul>
    {% if question.extra %}
    <span class="help-block">{{ question.extra }}</span>
    {% endif %}
  </div>
</div>
