{% load i18n questionnaire_ext %}
{% get_answers as total %}


<div class="clearfix">
  <div class="input">
    <ul class="inputs-list">
      {% for choice, key, checked in qdict.choices %}
      <li>
        <label>
          <input onClick="valchanged('{{ question.number }}_{{ choice.value }}', this.checked);"
		 type="checkbox" id="{{ key }}"
		 name="{{ key }}"
		 value="{{ choice.value }}"
		 {% if choice.text in total %} checked {% endif %} />
          <span>{{ choice.text }}</span>
        </label>
      </li>
      {% endfor %}
      
      {% if qdict.extras %}
      {% for key, value in qdict.extras %}
      <li>
        {% if not forloop.last or not forloop.first %}
        <b>{{ forloop.counter }}.</b>
        {% endif %}
        <input type="checkbox">&nbsp;<label>Altro <input type="text"
							 name="{{ key }}"
							 size="50"
							 value="{{value}}"
							 placeholder="{% trans 'comment' %}" />  </label></input>
      </li>
      {% endfor %}
      {% endif %}
      
      
      {% if question.extra %}
      <li>
	<span class="help-block">{{ question.extra }}</span>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
