{% load i18n %}
<html>
  <head>
    <title>{% trans "Admin Statistics Questionnaire" %}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
      div.allinea { float:left;
                    border-top:1px solid grey;
      }
      div.allinea table { box-shadow: 3px 3px 1px #888888; }
      div.title-percent { box-shadow: 3px 3px 1px #888888; }
    </style>

    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
      ['{% trans "Questionari Compilati" %} ({{comp}})', {{comp}}],
      ['{% trans "Questionari non Compilati" %} ({{not_comp}})', {{not_comp}}],
      ['{% trans "Utenti non Invitati" %} ({{not_invited}})', {{not_invited}}],
      ]);
      var options = {'title': '{% trans "Statistiche Utenti e Questionari" %}',
      'width':380,
      'height':300};
      var chart = new google.visualization.PieChart(document.getElementById('chart_div_cake'));
      chart.draw(data, options);
      }
    </script>
    {% for a,b,num in lista %}
    <script type="text/javascript">
      $(document).ready(function() {
      $('#total').append('<div id="linechart_div{{num}}" class="allinea"></div>');
      });
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', '{% trans 'Question' %}');
      data.addColumn('number', '{% trans 'Num. Risposte' %}');
      data.addRows([
      {% for c,d in b.items %}
      ['{{c}}', {{d}}],
      {% endfor %}
      ]);

      var options = {
      width: 380, height: 400,
      title: '{{a}}'
      };
      var chart = new google.visualization.BarChart(document.getElementById('linechart_div{{num}}'));
      chart.draw(data, options);
      }
    </script>
    {% endfor %}
    <script type="text/javascript">
      $(document).ready(function () {
      $("#graph").click(function() {
        $("div#total").fadeToggle();
        });
      $("#percent").click(function() {
        $("div#total_percent").fadeToggle();
        });
      });
    </script>
  </head>
  <body>
    <div class="row">
      <div class="span12">
        <div id="chart_div_cake" style="width:380px; border:1px solid grey; margin:2%;"></div>
        &nbsp;<button class="btn" id="graph">{% trans "Mostra/Nascondi Grafici" %}</button>
        <div id="total" style="width:1200px; margin:2%;"></div>
        <div style="clear:both;"></div>
        <br/>
        &nbsp;<button class="btn" id="percent">{% trans "Mostra/Nascondi Percentuali" %}</button>
        <div id="total_percent" style="width:1200px; margin:2%;">
          {% for a,b,num in lista_percent %}
          <div id="percent_{{num}}" style="width:380px; min-height:300px; padding:10px;" class="allinea">
	    <div class="title-percent">
	    <p align="justify"><b>{{a|safe}}</b></p>
	    </div>
            <table class="table table-bordered">
	      <tbody>
	      {% for c,d in b.items %}
	      <tr><td>{{c|safe}}</td><td>{{d|safe}}%</td></tr>
	      {% empty %}
	      <tr><td>{% trans "No Matches" %}</td></tr>
	      {% endfor %}
	      </tbody>
            </table>
	  <br/>
	  <br/>
          </div>
          {% endfor %}
        </div>
        <br/>
        <br/>
      </div>
    </div>
  </body>
</html>
