{% load i18n questionnaire_ext %}
{% get_answers as total %}

<!-- Modificare il file range.js alla linea 19 con questo: -->
<!-- var val = parseFloat(input.val()); -->

<div class="clearfix rangeinput">
  <div class="input">
    &nbsp;&nbsp;&nbsp;<input name="question_{{ question.number }}"
			     type="range"
			     min="{{ qdict.rmin }}"
			     max="{{ qdict.rmax }}"
			     step="{{ qdict.rstep }}"
			     value="{% if total %}{{ total.0 }}{% else %}{{ qdict.rmin }}{% endif %}" />
  </div>
  &nbsp;&nbsp;&nbsp;<label data-unit="{{ qdict.runit }}">{{ qdict.runit }}</label>
  {% if question.extra %}
  &nbsp;&nbsp;&nbsp;<span class="help-block">{{ question.extra }}</span>
  {% endif %}
</div>
