{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% endblock %}

{% block extra-head %}
{% endblock %}


{% block content %}

<div id="many-form">
{% if form.errors %}
<p class="access-error">{% trans "*INFORMAZIONI MANCANTI OPPURE ERRATE" %}</p><br/>
{% endif %}
{% if resetpsw %}
<p class="access-info">Digitare due volte la nuova password.</p><br/>
<form method="post" action="">{% csrf_token %}
        <table class="tableform">
        {% if request.GET.error %}<ul class="errorlist"><li><p style="text-align:center;"><small>{% trans "La mail da cui proviene questo link &egrave; scaduta, prego rifare tutta la procedura di reset password" %}</small></p></li></ul>{% endif %}
        {{ form.as_table }}
        </table>
<br/>
        <p class="center"><input class="btn" type="submit" value="Invia" id="sendbutton"/></p>
<br/>

{% endif %}

{% if forgotpsw %}
<p style="text-align:center;">Inserire il proprio username. <br/>Il sistema invier&agrave; una mail all'indirizzo associato all'utente inserito con un link da seguire.</p><br/>
<form method="post" action="" id="provaform" style="border:none;">{% csrf_token %}
        <table id="tableform" align="center">
        {{ form.as_table }}
        </table>
        <table width="100%" align="center">
        <tr><td><br/><p style="text-align:center;"><input class="btn" type="submit" value="Invia" id="sendbutton"/></p></td></tr>
        </table>
<br/>
<p><small>(*) questi campi sono obbligatori</small></p>

{% endif %}

{% if not signup %}
{% if user.is_authenticated %}

{% if chprofile %}
{% if request.GET.newuser == "True" %}
<div id="notify">
<h1 style="text-align:center;"><b>Benvenuto, ti preghiamo di compilare i campi obbligatori sottostanti per un corretto utilizzo del servizio</b></h1>
<br/>
</div>
{% endif %}
<p align="center">Modificare le proprie informazioni.</p><br/>
<form method="post" action="" id="provaform" style="border:none;">{% csrf_token %}
	<table id="tableform" align="center">
	{{ form.as_table }}
	</table>
	<table width="100%" align="center">
	<tr><td><br/><p style="text-align:center;"><input class="btn" type="submit" value="Invia" id="sendbutton"/></p></td></tr>
	</table>
<br/>
<p><small>(*) questi campi sono obbligatori</small></p>
{% endif %}
{% if chpsw %}
<p align="center">Inserire la vecchia password per conferma e, in seguito, ripetere 2 volte la nuova password.</p><br/>
<form method="post" action="" id="provaform" style="border:none;">{% csrf_token %}
	<table id="tableform" align="center">
	{{ form.as_table }}
	</table>
	<table width="100%" align="center">
	<tr><td><br/><p style="text-align:center;"><input type="submit" class="btn" value="Invia" id="sendbutton"/></p></td></tr>
	</table>
<br/>
<p><small>(*) questi campi sono obbligatori</small></p>
{% endif %}
{% endif %}
{% endif %}
{% if not user.is_authenticated %}
        {% if not forgotpsw and not resetpsw %}
        {% if signup %}
        <p align="justify">&Egrave; necessario compilare i campi sottostanti per registrarsi. </p><br/>
        {% else %}
        <p align="center">Inserire le credenziali per accedere</p>
	<p align="center">{% if not signup %}Se non disponi ancora di credenziali clicca <a href="/access/signup">qui</a> e registrati{% endif %}.</p><br/>
        {% endif %}
	{{form.media}}
	<form method="post" action="" id="provaform" style="border:none;">{% csrf_token %}
	<table id="tableform" align="center">
	{{ form.as_table }}
	</table>
	<table width="100%" align="center">
	{% if not signup and not forgotpsw and not resetpsw %}<tr><td><h4 style="text-align:center;"><a href="/access/forgotpsw">Dimenticato la password?</a></h4></td></tr>{% endif %}
	<tr><td><br/><p style="text-align:center;"><input class="btn" type="submit" value="{% if not signup %}Accedi{% else %}Invia{% endif %}" id="sendbutton"/></p></td></tr>
	</table>
        <br/>
        <br/>
        {% if signup %}<p><small>(*) questi campi sono obbligatori</small></p><br/>{% endif %}
        </form>
{% endif %}
{% endif %}
<br />
</div>
{% endblock %}
