{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">{{ app_label|capfirst }}</a> &rsaquo;
     {% trans 'Export multiple objects' %}
</div>
{% endblock %}

{% block content %}
    <p>{% blocktrans %}Choose what columns of {{ object_name }} do you want to export in CSV:{% endblocktrans %}</p>
    <form action="" method="post">{% csrf_token %}
<ul>
    {% for exportable_object in exportable_objects %}
        <li><input type="checkbox" name="field-{{ exportable_object }}" checked="checked" value="{{ exportable_object }}" />&nbsp;{{ exportable_object }}</li>
    {% endfor %}
</ul>

    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}

    <div>
    <input type="hidden" name="action" value="export_as_csv_action" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" name="submit" value="{% trans "Export Selections Csv" %}" />&nbsp;<a href="./"><input type="button" value="{% trans "Go Back" %}" /></a>
    </div>
    </form>
{% endblock %}
