Source: django-contrib-aderit
Section: python
Priority: extra
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: python-support (>= 1.0)
Maintainer: Matteo Atti <matteo.atti@aderit.it>
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: python-django-contrib-aderit
Section: python
Priority: extra
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-django, pwgen,
 python-werkzeug, python-django-south | python-south,
 python-django-dajaxice, python-django-dajax
Recommends: python-django-simple-captcha
Description: Libreria di strumenti by Aderit
 Library of tools by Aderit


