#!/usr/bin/make -f
include /usr/share/python/python.mk
export DH_VERBOSE = 1

#override_dh_auto_install:
#	NO_CHECK_MODULES=1 python setup.py install --root=$(CURDIR)/debian/tmp/ --install-layout=deb --no-compile

override_dh_pysupport:
	dh_pysupport
	cp -rf django/contrib/aderit/generic_utils/templates django/contrib/aderit/generic_utils/templatetags debian/python-django-contrib-aderit/usr/share/pyshared/django/contrib/aderit/generic_utils/



%:
	dh $@

