#!/usr/bin/make -f
include /usr/share/python/python.mk
export DH_VERBOSE = 1

ov=$(shell dpkg-parsechangelog | grep ^Version | cut -d' ' -f2 | cut -d'-' -f1)
pn=$(shell dpkg-parsechangelog | grep ^Source | cut -d' ' -f2)

#override_dh_auto_install:
#	NO_CHECK_MODULES=1 python setup.py install --root=$(CURDIR)/debian/tmp/ --install-layout=deb --no-compile

override_dh_pysupport:
	dh_pysupport -X project_template
# 	#cp -rf django/contrib/aderit/generic_utils/templates django/contrib/aderit/generic_utils/templatetags debian/python-django-contrib-aderit/usr/share/pyshared/django/contrib/aderit/generic_utils/
# 	#cp -rf django/contrib/aderit/access_account/templates debian/python-django-contrib-aderit/usr/share/pyshared/django/contrib/aderit/access_account/

override_dh_install:
	dh_testdir
	dh_testroot
	dh_install
	-mkdir -p debian/python-django-contrib-aderit/usr/share/python-django-contrib-aderit debian/python-django-contrib-aderit/usr/bin
	cp -rf project_template debian/python-django-contrib-aderit/usr/share/python-django-contrib-aderit/
	cp -f django-admin-aderit debian/python-django-contrib-aderit/usr/bin
	chmod +x debian/python-django-contrib-aderit/usr/bin/django-admin-aderit

%:
	dh $@

