#!/usr/bin/make -f
include /usr/share/python/python.mk
export DH_VERBOSE = 1

ov=$(shell dpkg-parsechangelog | grep ^Version | cut -d' ' -f2 | cut -d'-' -f1)
pn=$(shell dpkg-parsechangelog | grep ^Source | cut -d' ' -f2)

override_dh_python2:
	dh_python2 --skip-private

## temporary fix incompatible changes introduced in 1.4.6
## (needed for ULISSE and UDA)
py26_libdir = usr/lib/python2.6/$(call py_sitename, 2.6)
py27_libdir = usr/lib/python2.7/$(call py_sitename, 2.7)
pyshared_dir = usr/share/pyshared
g_utils = django/contrib/aderit/generic_utils
send_mail_path = django/contrib/aderit/send_mail
override_dh_link:
	dh_link -v \
		$(pyshared_dir)/$(g_utils)/middleware.py \
		$(pyshared_dir)/$(g_utils)/currentUserMiddleware.py \
		$(pyshared_dir)/$(g_utils)/middleware.py \
		$(pyshared_dir)/$(g_utils)/langMiddleware.py \
		$(pyshared_dir)/$(g_utils)/middleware.py \
		$(pyshared_dir)/$(g_utils)/mobileMiddleware.py \
		$(pyshared_dir)/$(send_mail_path)/__init__.py \
		$(pyshared_dir)/$(send_mail_path)/views.py \
		$(py26_libdir)/$(g_utils)/middleware.py \
		$(py26_libdir)/$(g_utils)/currentUserMiddleware.py \
		$(py26_libdir)/$(g_utils)/middleware.py \
		$(py26_libdir)/$(g_utils)/langMiddleware.py \
		$(py26_libdir)/$(g_utils)/middleware.py \
		$(py26_libdir)/$(g_utils)/mobileMiddleware.py \
		$(py26_libdir)/$(send_mail_path)/__init__.py \
		$(py26_libdir)/$(send_mail_path)/views.py \
		$(py27_libdir)/$(g_utils)/middleware.py \
		$(py27_libdir)/$(g_utils)/currentUserMiddleware.py \
		$(py27_libdir)/$(g_utils)/middleware.py \
		$(py27_libdir)/$(g_utils)/langMiddleware.py \
		$(py27_libdir)/$(g_utils)/middleware.py \
		$(py27_libdir)/$(g_utils)/mobileMiddleware.py \
		$(py27_libdir)/$(send_mail_path)/__init__.py \
		$(py27_libdir)/$(send_mail_path)/views.py

git-orig-source:
	-rm -rf $(pn)-$(ov)
	mkdir $(pn)-$(ov)
	git archive --format=tar HEAD | ( cd $(pn)-$(ov) ; tar -xf - )
	-rm -rf $(pn)-$(ov)/debian
	tar -cjf ../$(pn)_$(ov).tar.bz2 $(pn)-$(ov)
	-rm -rf $(pn)-$(ov)

%:
	dh $@ --with python2

